.edit-profile-content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.edit-form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.edit-input{
    width: 100%;
}

.form-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.form-grid > div {
    grid-column: span 2;
  }

  .form-grid  input , select{
    height: 35px;
    padding-left: 5px;
  }

  .pasword {
    position: relative;
  }

  .icon {
    position: absolute;
    z-index: 100;
    transform: translateY(-95%) translateX(var(--icon-transform));
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .placeholder::placeholder{
    color: black;
    padding-left: 4px;
  }
  
  @media (max-width: 600px) {
    .form-grid > div {
      grid-column: span 4;
    }
  }

  .auth{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .auth-header, .personal-header{
    color: var(--text);
  }

  .auth-content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 20px;
  }

  .auth-content > div {
    grid-column: span 2;
  }

  .auth-content input {
    height: 35px;
    padding-left: 5px;
  }

  .pasword {
    position: relative;
  }

  .add-image{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .add-image-content{
    width: 49%;
    background-color: #ffffff;
    height: 35px;
    border: 1px solid #767676;
    padding: 6px 8px;
  }

  .image-buttons{
    display: flex;
    gap: 20px;
  }

  .image-button{
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    color: var(--text);
  }

  .delete-button{
    background-color: var(--btn-clear);
  }

  .save-button{
    background-color: var(--edit-btn);
  }

  .image-button:hover{
    background-color: #808080;
    transition: background-color 0.3s ease-in-out;
  }