.dashboard-content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dashboard-data{
    position: relative;
    width: 100%;
}

.dashboard-titles{
    margin: 20px 0px;
    display: flex;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
}

.chart-content{
    height: 45vh;
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.chart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    border-radius: 4px;
    margin-bottom: 20px;  
}

.chat-header{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 0;
    font-weight: 600;
}

/* Media Queries */

@media (min-width: 768px) {
    .dashboard-titles {
      justify-content: start;
      gap: 20px;
    }
    .chart-content{
        flex-direction: column;
    }
    .chart {
        flex-direction: column;
      width: 47.5%; 
    }
  }
  
  @media (min-width: 1024px) {
    .dashboard-titles {
      justify-content: space-between;
    }
  
    .chart {
      width: 98%; // for large screens, two charts side by side
    }
  }