.user-view-profile{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.user-view-profile-body{
    margin: 20px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 1000px;
    gap: 20px;
    background-color: var(--bg-color);
    border: none;
    border-radius: 4px;
    color: var(--text-color);
}

.user-view-profile-body img {
    width: 350px;
    height: 350px;
    padding: 15px;
    border: 2px solid var(--text-color);
    cursor: pointer;
}

.user-view-profile-body img:hover {
    border-color: gray;
    transition: border-color 0.3s ease-in-out ;
}

.user-view-profile-data{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 5%;
    color: var(--text-color);
    font-size: 16px;
}

.user-view-profile-data span{
    padding: 5px 8px;
    border-bottom: 2px solid var(--text-color);
    cursor: pointer; 
}

.user-view-profile-data span:hover {
    border-bottom: 2px solid gray;
    transition: border-bottom 0.3s ease-in-out;
}