.sidebar-content {
    width: 250px;
    transition: width 0.3s;
    transition: visibility 0.3s; 

    &.collapsed {
        width: 80px; // Width when collapsed

        .sidebar-head p {
            display: none; // Hide the text when sidebar is collapsed
        }
    }

    .sidebar-inner-content {
        transition: opacity 0.3s;
        opacity: 1;

        &.collapsed {
            opacity: 0; // Hide content when collapsed
        }
    }

    .sidebar-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        padding: 10px;
    }
}
