.page-title-content{
    padding: 4px 8px;
}

.page-title{
    color: var(--text_color);
    font-size: 21px;
    font-weight: 700;
}

.page-subtitle{
    color: var(--subtitle_color);
    font-size: 17px; 
}