.devices-content{
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.devices-header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
}

.devices-header input {
    margin-left: 15%;
    padding: 5px 8px;
    width: 30%;
    outline: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid gray;
    height: 40px;
}

.devices-header input::placeholder{
    color: var(--text-color);
}

.devices-header input:focus{
    border-bottom: 3px solid var(--border-b-color);
}

.devices-body{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.not-devices-msg{
    margin-top: 150px;
    text-align: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
}