.devices-content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.devices-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
}