.content {
    flex: 0 1 auto;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content:end;
    margin-right: 10px;
}

.body-content {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}